---
import "../styles/global.css";
import Btn from "../components/Btn.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Astroリファレンス、ブログサイトを作成してみよう</p>
  <Btn url="https://astro.build/">AstroLinkBtn</Btn>
</BaseLayout>
